*.log
*.db
auth.json
.uix-secrets

homebridge/homebridge/accessories/
homebridge/homebridge/backups/
homebridge/homebridge/node_modules/
homebridge/homebridge/persist/
homebridge/homebridge/backup.json
homebridge/homebridge/temp.json
homebridge/homebridge/.storage/

mosquitto/data/

zigbee2mqtt/data/log/
zigbee2mqtt/data/state.json
